button {
    width: 40px;
    height: 40px;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 100vb;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.output{
    display: flex;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    height: 40px;
    width: 180px;
    justify-content: end;
    align-items: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: calc((40px + 5px) * 4);
    gap: 5px;
}